* {
  --transition-duration: 700ms;
}
section {
  background-color: #ffe3e1;
}
/*   Post   */
.post-title {
  font: normal normal normal 72px/1.25em "rozha one", serif;
  font-size: 72px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}
.post-description {
  font: normal normal normal 20px/1.67em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  font-size: 20px;
  text-align: center;
}

/*   Time   */
.time-grid {
  margin-top: 30px;
  padding-bottom: 10px;
}
.time-box {
  font: normal normal normal 40px/50px rubik-medium, sans-serif;
  background: rgba(173, 51, 60, 0.25);
  width: 877px;
  height: calc(100% - 24px);
  font-size: 40px;
  border: 7px solid rgba(173, 51, 60, 1);
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.time-number {
  height: 46.5px;
  font-size: 40px;
  line-height: 46.5px;
  border-radius: 4.65px;
  font-weight: bold;
}
.time-text {
  height: 38.75px;
  line-height: 38.75px;
  font-size: 15.5px;
}
.time-block-label {
  color: rgba(58, 17, 20, 1) !important;
  font-stretch: normal !important;
  z-index: 1;
  text-align: center;
}
.days,
.hours,
.mins,
.secs {
  width: 22%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.separator {
  height: 46.5px;
  line-height: 46.5px;
  width: 4%;
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  font-weight: bold;
  color: rgba(58, 17, 20, 1) !important;
  text-align: center;
}

/*    Main Content   */
.main-content {
  background-color: rgba(173, 51, 60, 1);
}
.main-content .grid {
  margin-bottom: 30px;
}
.main-content h1 {
  line-height: 1.35em;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0em;
  font: normal normal normal 40px/1.35em "rozha one", serif;
  color: white;
  font-weight: bold;
  margin-top: 150px;
  display: inline-block;
}
.main-content h2 {
  line-height: 1.35em;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0em;
  font: normal normal normal 40px/1.35em "rozha one", serif;
  color: white;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0;
  display: inline-block;
}
.main-content span {
  line-height: 1.875em;
  font-size: 25px !important;
  text-align: left;
  color: white;
  font: normal normal normal 15px/1.875em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
}
.img-women {
  width: 100%;
  height: 950px;
  object-fit: cover;
  object-position: 50% 50%;
}
.img-founder {
  width: 100%;
  height: 819px;
  object-fit: cover;
  object-position: 50% 50%;
}
.img-game {
  width: 90%;
  height: 70%;
  border-radius: 10px;
}
